body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

#container {
  
    display: flex;
    flex-wrap: wrap;
   width: 400px;
   height: 400px;
   border: 1px solid black;
}

.square {
    width: 25px;
    margin: 0px;
    border: 1px solid black;
    box-sizing: border-box;
   
   
    
}